.r-popover-main-underline {
  @apply underline underline-offset-2;
  /* @apply decoration-primary-500  */
  @apply decoration-dotted decoration-2;
}

.r-popover-wrapper {
  @apply relative inline-block;
}

.r-popover-content-wrapper {
  @apply absolute bottom-full mb-4;
  left: 50%;
  transform: translate(-50%, 0px);
}

.r-popover-content {
  @apply px-2 py-1 rounded whitespace-nowrap;
  background-color: hsl(var(--r-b-2));
}

.r-popover-indicator {
  @apply absolute left-1/2 pointer-events-none;
  fill: hsl(var(--r-b-2));
  transform: translateX(-5px);
}

.r-popover-indicator.r-popover-indicator-left {
  @apply left-1/4;
}
.r-popover-indicator.r-popover-indicator-right {
  @apply right-1/4;
}
