.r-appbar-wrapper {
  @apply flex text-sm w-full z-10;
  @apply px-4 py-1 items-center justify-between;
}

.r-appbar-border {
  @apply border-b border-border-2;
}

[data-theme="dark"] .r-appbar-pattern {
  @apply backdrop-blur;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0) 1px,
    hsl(var(--r-background-2)) 1px
  );
  background-size: 4px 4px;
}

.r-appbar-leading {
  @apply flex items-center;
}

.r-appbar-pattern {
  @apply backdrop-blur;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.75) 1px,
    hsl(var(--r-background-2)) 1px
  );
  background-size: 4px 4px;
}

.r-appbar-transparent {
  @apply bg-transparent;
}

.r-appbar-blur {
  @apply backdrop-blur;
}

.r-appbar-title {
  @apply my-3 mx-2 flex;
}

.r-appbar-title__icon {
  @apply mr-2;
}

.r-appbar-tailing {
  @apply flex gap-2;
}
