.r-appbar-wrapper {
  @apply flex text-sm w-full;
  @apply px-4 py-1 items-center justify-between;
}

.r-appbar-border {
  @apply border-b;
}

.dark .r-appbar-pattern {
  @apply backdrop-blur;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0) 1px,
    rgb(var(--r-bg-content-color)) 1px
  );
  background-size: 4px 4px;
}

.r-appbar-leading {
  @apply flex items-center;
}

.r-appbar-pattern {
  @apply backdrop-blur;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.75) 1px,
    rgb(var(--r-bg-content-color)) 1px
  );
  background-size: 4px 4px;
}

.r-appbar-default {
  @apply bg-opacity-100;
}

.r-appbar-transparent {
  @apply bg-opacity-0;
}

.r-appbar-blur {
  @apply backdrop-blur bg-opacity-20;
}

.r-appbar-title {
  @apply my-3 mx-2 flex;
}

.r-appbar-title__icon {
  @apply mr-2;
}

.r-appbar-tailing {
  @apply flex gap-2;
}
