.comp-wrapper {
  padding: 16px;
  border-radius: .5rem .5rem 0rem 0rem;
  background-color: transparent;
  background-size: 4px 4px;
  background-image: linear-gradient(
      to right,
      hsl(var(--r-frontground-1), 0.025) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      hsl(var(--r-frontground-1), 0.025) 1px,
      transparent 1px
    );
}

.comp-wrapper-2 {
  padding: 16px;
  border-radius: .5rem .5rem 0rem 0rem;
  background-color: transparent;
  background-size: 0.5rem 0.5rem;
  background: conic-gradient(
      transparent 0.25turn,
      hsl(var(--r-frontground-1), 0.025) 0.25turn 0.5turn,
      transparent 0.5turn 0.75turn,
      hsl(var(--r-frontground-1), 0.025) 0.75turn
    )
    top left / 1rem 1rem repeat;
}
