.r-btn {
  @apply min-w-max;
  @apply h-fit transition;
  @apply text-sm rounded-2xl;
  @apply disabled:grayscale disabled:contrast-50 disabled:pointer-events-none;
  @apply outline-none;
}

.r-panel .r-btn {
  @apply rounded-lg;
}

.r-btn-main {
  @apply flex items-center;
}

.r-btn-center {
  @apply justify-center;
}

.r-btn-left {
  @apply justify-start;
}

.r-btn-right {
  @apply justify-end;
}

.r-btn-rounded {
  @apply rounded-full;
}

.r-btn-ring {
  @apply focus:ring-1;
}

.r-btn.r-btn-filled {
}

.r-btn-icon {
  line-height: 0px;
  @apply !rounded-full;
}

.r-btn-icon-border {
  @apply border;
}

.r-btn-icon.r-btn-sm {
  @apply p-1;
}

.r-btn-icon.r-btn-md {
  @apply p-2;
}

.r-btn-icon.r-btn-lg {
  @apply p-2;
}

.r-btn-xs {
  @apply p-0.5 text-xs rounded-sm;
}

.r-btn-sm {
  @apply p-1 rounded !leading-none;
}

.r-btn-sm .r-typography-btn {
  @apply leading-4;
}

.r-btn-md {
  @apply p-2 rounded-lg;
}

.r-btn-lg {
  @apply p-2 text-base rounded-lg;
}
.r-btn-block {
  @apply w-full;
}

.r-btn-dash {
  @apply border-dashed;
}

.r-btn-group {
  @apply flex border rounded transform transition overflow-hidden;
}

.r-btn-group .r-btn {
  @apply outline-none border-none;
  @apply rounded-none;
}

.r-btn-leading-icon {
  @apply mr-2;
}
.r-loading-xs {
  @apply h-3 w-3;
}
.r-loading-sm {
  @apply h-4 w-4;
}
.r-loading-md {
  @apply h-5 w-5;
}
.r-loading-lg {
  @apply h-6 w-6;
}

.r-btn-loading-enter {
  opacity: 0;
  width: 0px;
  transition: all 0.2s ease-in-out;
}
.r-btn-loading-enter-active {
  opacity: 1;
  width: 20px;
  transition: all 0.2s ease-in-out;
}
.r-btn-loading-enter-done {
  opacity: 1;
  width: 20px;
  transition: all 0.2s ease-in-out;
}
.r-btn-loading-exit {
  opacity: 1;
  width: 20px;
  transition: all 0.2s ease-in-out;
}
.r-btn-loading-exit-active {
  width: 0px;
  transition: all 0.2s ease-in-out;
}
.r-btn-loading-exit-done {
  opacity: 1;
  display: none;
  transition: all 0.2s ease-in-out;
  width: 0px;
}
