.r-btn {
  @apply relative;
  @apply border;
  @apply min-w-max;
  @apply h-fit;
  @apply text-sm;
  @apply disabled:grayscale disabled:contrast-50 disabled:pointer-events-none;
  overflow: visible;
}

.r-btn-filled {
  @apply text-white color-white;
}

.r-btn {
  @apply rounded;
}

.r-btn-main {
  @apply flex items-center z-2 relative;
}

.r-btn-center {
  @apply justify-center;
}

.r-btn-blur::after {
  @apply rounded;
  background: var(--r-btn-glory-color);
}

.r-btn-blur::after {
  @apply opacity-0;
  content: "";
  @apply absolute w-full h-full left-0 top-0 -z-1;
  overflow: visible;
}
.r-btn-blur:hover::after {
  @apply blur-16 opacity-100;
}

.r-btn-left {
  @apply justify-start;
}

.r-btn-right {
  @apply justify-end;
}

.r-btn-rounded {
  @apply rounded-full;
}

.r-btn-outline {
  @apply focus-visible:outline-solid focus-visible:outline-offset-2 focus-visible:outline-2;
}

.r-btn-icon {
  line-height: 0px;
  @apply !rounded-full;
}

.r-btn-icon-border {
  @apply border;
}

.r-btn-icon.r-btn-sm {
  @apply p-1;
}

.r-btn-icon.r-btn-md {
  @apply p-2;
}

.r-btn-icon.r-btn-lg {
  @apply p-2 text-lg;
}

.r-btn-xs {
  @apply p-0.75 text-xs;
}

.r-btn-sm {
  @apply p-1 text-xs !leading-none;
}

.r-btn-sm {
  @apply leading-4;
}

.r-btn-md {
  @apply p-2 text-sm;
}

.r-btn-lg {
  @apply p-2 text-base;
}
.r-btn-block {
  @apply w-full;
}

.r-btn-dash {
  @apply border-dashed;
}

.r-btn-group {
  @apply flex border transform overflow-hidden;
}

.r-panel .r-btn-group {
  @apply rounded-lg;
}

.r-btn-group {
  @apply rounded-xl;
}

.r-btn-group .r-btn {
  @apply outline-none border-none;
  @apply rounded-none;
}

.r-btn-leading-icon {
  @apply leading-[0];
}
.r-loading-xs {
  @apply h-3 w-3;
}
.r-loading-sm {
  @apply h-4 w-4;
}
.r-loading-md {
  @apply h-5 w-5;
}
.r-loading-lg {
  @apply h-6 w-6;
}

.r-btn-loading-enter {
  opacity: 0;
  width: 0px;
}
.r-btn-loading-enter-active {
  opacity: 1;
  width: 20px;
}
.r-btn-loading-enter-done {
  opacity: 1;
  width: 20px;
}
.r-btn-loading-exit {
  opacity: 1;
  width: 20px;
}
.r-btn-loading-exit-active {
  width: 0px;
}
.r-btn-loading-exit-done {
  opacity: 1;
  display: none;
  width: 0px;
}
