.r-btn {
  @apply min-w-max;
  @apply h-fit transition;
  @apply text-xs border;
  @apply disabled:grayscale disabled:contrast-50 disabled:pointer-events-none;
  @apply outline-none;
}

.r-btn-main {
  @apply flex items-center;
}

.r-btn-center {
  @apply justify-center;
}

.r-btn-left {
  @apply justify-start;
}

.r-btn-right {
  @apply justify-end;
}

.r-btn-rounded {
  @apply rounded-full;
}

.r-btn-ring {
  @apply focus:ring;
}

.r-btn.r-btn-filled {
  @apply hover:text-white;
  @apply text-white dark:!text-white;
}

.r-btn.r-btn-text {
  @apply !bg-opacity-10 active:!bg-opacity-25;
}

.r-btn-icon {
  line-height: 0px;
  border: none;
  width: 0px;
}

.r-btn-icon.r-btn-sm {
  @apply p-1;
}

.r-btn-icon.r-btn-md {
  @apply p-2;
}

.r-btn-icon.r-btn-lg {
  @apply p-2;
}

.r-btn-sm {
  @apply py-1 px-1 rounded;
}

.r-btn-md {
  @apply py-2 px-3 rounded-md;
}

.r-btn-lg {
  @apply py-2 px-3 text-base rounded-lg;
}
.r-btn-block {
  @apply w-full;
}

.r-btn-dash {
  @apply border-dashed;
}

.r-btn-group {
  @apply flex border rounded transform transition overflow-hidden;
}

.r-btn-group .r-btn {
  @apply outline-none border-none;
  @apply rounded-none;
}
