.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  vertical-align: bottom;
}

.material-symbols-outlined.filled {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  vertical-align: bottom;
}

.r-icon-xs {
  font-size: 0.75rem;
}

.r-icon-sm {
  font-size: 1rem;
}

.r-icon-md {
  font-size: 1.5rem;
}

.r-icon-lg {
  font-size: 2rem;
}

.r-icon-xl {
  font-size: 3rem;
}
