.r-step-container > *:not(:first-child)::before {
  content: "";
  align-self: center;
  border-top: 1px solid;
  height: 0;
  display: inline-block;
  flex-grow: 1;
}
.r-step-container > *:not(:first-child) {
  width: 100%;
}
