[data-theme="dark"] {
  color-scheme: dark;
}

:root {
  background: hsl(var(--r-background-3));
}

::-moz-selection {
  background: hsl(var(--r-frontground-1));
  color: hsl(var(--r-background-1));
}

::selection {
  background: hsl(var(--r-frontground-1));
  color: hsl(var(--r-background-1));
}

:root {
  --un-b-opacity: 1;
  --un-border-opacity: 1;
  box-sizing: border-box;
}

[data-theme="light"] {
  --r-background: 0, 0%, 99%;
  --r-background-1: 0, 0%, 100%;
  --r-background-2: 0, 0%, 99%;
  --r-background-3: 0, 0%, 96%;
  --r-frontground: 0, 0%, 7%;
  --r-frontground-1: 0, 0%, 8%;
  --r-frontground-2: 0, 0%, 7%;
  --r-frontground-3: 0, 0%, 4%;
  --r-border: 0, 0%, 73%;
  --r-border-1: 0, 0%, 87%;
  --r-border-2: 0, 0%, 73%;
  --r-border-3: 0, 0%, 42%;
  --r-primary: 214, 82%, 41%;
  --r-primary-1: 214, 82%, 49%;
  --r-primary-2: 214, 82%, 41%;
  --r-primary-3: 214, 82%, 24%;
  --r-secondary: 248, 60%, 51%;
  --r-secondary-1: 248, 60%, 62%;
  --r-secondary-2: 248, 60%, 51%;
  --r-secondary-3: 248, 60%, 30%;
  --r-default: 0, 0%, 93%;
  --r-default-1: 0, 0%, 100%;
  --r-default-2: 0, 0%, 93%;
  --r-default-3: 0, 0%, 54%;
  --r-success: 160, 98%, 22%;
  --r-success-1: 160, 98%, 26%;
  --r-success-2: 160, 98%, 22%;
  --r-success-3: 160, 98%, 12%;
  --r-warning: 15, 90%, 34%;
  --r-warning-1: 15, 90%, 40%;
  --r-warning-2: 15, 90%, 34%;
  --r-warning-3: 15, 90%, 19%;
  --r-danger: 0, 84%, 39%;
  --r-danger-1: 0, 84%, 47%;
  --r-danger-2: 0, 84%, 39%;
  --r-danger-3: 0, 84%, 23%;
  --r-info: 200, 96%, 29%;
  --r-info-1: 200, 96%, 35%;
  --r-info-2: 200, 96%, 29%;
  --r-info-3: 200, 96%, 17%;
}

[data-theme="dark"] {
  color-scheme: dark;
  --r-background: 0, 0%, 7%;
  --r-background-1: 0, 0%, 8%;
  --r-background-2: 0, 0%, 7%;
  --r-background-3: 0, 0%, 4%;
  --r-frontground: 240, 4%, 83%;
  --r-frontground-1: 240, 4%, 98%;
  --r-frontground-2: 240, 4%, 83%;
  --r-frontground-3: 240, 4%, 51%;
  --r-border: 0, 0%, 13%;
  --r-border-1: 0, 0%, 15%;
  --r-border-2: 0, 0%, 13%;
  --r-border-3: 0, 0%, 8%;
  --r-primary: 190, 91%, 43%;
  --r-primary-1: 190, 91%, 50%;
  --r-primary-2: 190, 91%, 43%;
  --r-primary-3: 190, 91%, 26%;
  --r-secondary: 248, 57%, 75%;
  --r-secondary-1: 248, 57%, 88%;
  --r-secondary-2: 248, 57%, 75%;
  --r-secondary-3: 248, 57%, 46%;
  --r-default: 240, 3%, 15%;
  --r-default-1: 240, 3%, 18%;
  --r-default-2: 240, 3%, 15%;
  --r-default-3: 240, 3%, 9%;
  --r-success: 150, 63%, 43%;
  --r-success-1: 150, 63%, 50%;
  --r-success-2: 150, 63%, 43%;
  --r-success-3: 150, 63%, 26%;
  --r-warning: 28, 82%, 54%;
  --r-warning-1: 28, 82%, 63%;
  --r-warning-2: 28, 82%, 54%;
  --r-warning-3: 28, 82%, 33%;
  --r-danger: 0, 88%, 64%;
  --r-danger-1: 0, 88%, 75%;
  --r-danger-2: 0, 88%, 64%;
  --r-danger-3: 0, 88%, 39%;
  --r-info: 198, 88%, 48%;
  --r-info-1: 198, 88%, 56%;
  --r-info-2: 198, 88%, 48%;
  --r-info-3: 198, 88%, 29%;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}

[data-theme="dark"]::view-transition-old(root) {
  z-index: 9999;
}

[data-theme="dark"]::view-transition-new(root) {
  z-index: 1;
}
