[data-theme="dark"] {
  color-scheme: dark;
}

:root {
  @apply hsl(var(--r-frontground-3));
}

::-moz-selection {
  background: hsl(var(--r-frontground-1));
  color: hsl(var(--r-background-1));
}

::selection {
  background: hsl(var(--r-frontground-1));
  color: hsl(var(--r-background-1));
}

:root {
  --un-b-opacity: 1;
  --un-border-opacity: 1;
  box-sizing: border-box;
}
